/*-----------��׼������ʽ------------------*/
.p9  {  font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 9pt}
.p9line16  {  font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 9pt; line-height: 16px}
.p9line18  {  font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 9pt; line-height: 18px}
.p9line18w  {  font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 9pt; line-height: 18px;color:#FFFFFF}
.p9line21  {  font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 9pt; line-height: 21px}
.p9line21g  {  font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 9pt; line-height: 21px; color:#666666}
.p9line18blue  {  font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 9pt; line-height: 18px; color:#0066CC}
.p9line18green  {  font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 9pt; line-height: 18px; color:#339900}
.p9line24g  {  font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 9pt; line-height: 24px; color:#666666}
.p9line28g  {  font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 9pt; line-height: 26px; color:#1d1d1d}
.p10 { font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 10.5pt}
.p10line21 { font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 10.5pt; line-height: 21px}
.p10line24 { font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 10.5pt; line-height: 24px}
.p12 { font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 12pt}
.p12line24 { font-family: "Tahoma", "����", "Arial", "Verdana"; font-size: 12pt; line-height: 24px}


/*-----------��ť��ʽ------------------*/
.btn3_mouseout 
{
margin-right:20px;width:80px;BORDER-RIGHT: #027AC5 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #027AC5 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#B9EDFF, EndColorStr=#056DBD); BORDER-LEFT: #027AC5 1px solid; CURSOR: hand; COLOR:#FFFFFF; PADDING-TOP: 2px; BORDER-BOTTOM: #027AC5 1px solid
} 
.btn3_mouseover 
{
margin-right:20px;width:80px;BORDER-RIGHT: #027AC5 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #027AC5 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#BBE9FF); BORDER-LEFT: #027AC5 1px solid; CURSOR: hand; COLOR:#666666; PADDING-TOP: 2px; BORDER-BOTTOM: #027AC5 1px solid
}
.btn3_mousedown
{
margin-right:20px;width:80px;BORDER-RIGHT: #FFE400 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #FFE400 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#BBE9FF); BORDER-LEFT: #FFE400 1px solid; CURSOR: hand; COLOR:#666666; PADDING-TOP: 2px; BORDER-BOTTOM: #FFE400 1px solid
} 
.btn3_mouseup 
{
margin-right:20px;width:80px;BORDER-RIGHT: #027AC5 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #027AC5 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#BBE9FF); BORDER-LEFT: #027AC5 1px solid; CURSOR: hand; COLOR:#666666; PADDING-TOP: 2px; BORDER-BOTTOM: #027AC5 1px solid
} 



/*-----------��׼��ҳԪ����ʽ---------------*/
body {
	MARGIN:0px;
	font-family: "Tahoma", "������", "Arial", "Verdana";
	font-size: 9pt;
	line-height: 18px;
	background-color:#FFFFFF;
	overflow-x:hidden;/**add by wucz**/
	overflow-y:auto;
}

Input {
	font-size:9pt;
	font-family: "Tahoma", "����";
	border: 1px solid #999;
	padding:1px;
	width:160px;
}

.main_Input {
	font-size:9pt;
	font-family: "Tahoma", "����";
	border: 1px solid #999;
	padding:1px;
	width:160px;
}

.check_Input {
	font-size:9pt;
	font-family: "Tahoma", "����";
	border: 0px solid #999;
	padding:0px;
	width:15px;
	height:15px
}

.width110px_Input {
	font-size:9pt;
	font-family: "Tahoma", "����";
	border: 1px solid #999;
	padding:1px;
	width:130px;
}

.width150px_Input {
	font-size:9pt;
	font-family: "Tahoma", "����";
	border: 1px solid #999;
	padding:1px;
	width:150px;
}

table
{
margin:0;
padding:0;
font-size: 9pt;
font-family: "Tahoma", "����";
border-collapse:collapse;
}



#header {
	height:40px;
	BACKGROUND:url(/ueadmin_ue/images/tms_title_noname.jpg) no-repeat left top;
	text-align:right;
}


#header_name {
	position:absolute;
	left:124px;
	top:16px;
	height:30px;
	color:#FFFFFF;
	font-family: "����", "Tahoma", "����", "Arial", "Verdana";
	text-align:left;
	font-size:14pt;
	font-weight:bolder;
	vertical-align:bottom;
}

/*- Menu Tabs F--------------------------- */

    #tabsF {
      float:right;
      width:100%;
      font-size:93%;
      line-height:normal;
      }
    #tabsF ul {
	margin-top:25px;
	padding:10px 10px 0 720px;
	list-style:none;
      }
    #tabsF li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsF a {
      float:left;
      background:url("/ueadmin_ue/images/tableftF.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabsF a span {
      float:left;
      display:block;
      background:url("/ueadmin_ue/images/tabrightF.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFFFFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsF a span {float:none;}
    /* End IE5-Mac hack */
    #tabsF a:hover span {
      color:#FFF;
      }
    #tabsF a:hover {
      background-position:0% -42px;
      }
    #tabsF a:hover span {
      background-position:100% -42px;
      }

	
/*- Menu Tabs 1--------------------------- */ 


    #tabs1 {
      float:left;
      width:100%;
      font-size:93%;
      line-height:normal;
	  border-bottom:1px solid #849A7D;
      }
    #tabs1 ul {
	  margin:0;
	  padding:10px 10px 0 20px;
	  list-style:none;
      }
    #tabs1 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs1 a {
      float:left;
      background:url("/ueadmin_ue/images/tableft1.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs1 a span {
      float:left;
      display:block;
      background:url("/ueadmin_ue/images/tabright1.gif") no-repeat right top;
      padding:5px 12px 4px 8px;
      color:#627EB7;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs1 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs a:hover span {
      color:#627EB7;
      }
    #tabs1 a:hover {
      background-position:0% -42px;
      }
    #tabs1 a:hover span {
      background-position:100% -42px;
      }

#info {
	height:25px;
	BACKGROUND:url(/ueadmin_ue/images/info_bg.gif) repeat-x left top;
	color:#003300;
	text-align:right;
	padding-top:3px
}

#info_time_ico {
	width:27px;
	height:23px;
	BACKGROUND:url(/ueadmin_ue/images/info_time.gif) no-repeat right top;
	float:left;
}

#info_time {
	width:135px;
	height:23px;
	float:left;
}

#info_line {
	width:2px;
	height:23px;
	BACKGROUND:url(/ueadmin_ue/images/info_line.gif) no-repeat right top;
	float:left;
	margin-left:17px;
}

#info_content {
	flot:right;
	margin-right:20px;
}

#L_body {
	overflow:auto;
	background-color:#E1E1E1
}

#L_search {
	height:29px;
	BACKGROUND:url(/ueadmin_ue/images/tree_line.gif) repeat-x bottom;
	padding:3 0 0 6
}

.searchinput {
	width:140px;
	border:1px solid #8C8C8C;
}

#search_ico {
	margin-left:4px;
	height:15px;
	width:15px;
	BACKGROUND:url(/ueadmin_ue/images/search.gif) no-repeat left top;
	display:inline;
	cursor:hand;
}

#main_content {
	padding:12px 5px 12px 12px;
}

.no_border {border:none}

.main_table {width:99.9%;color:#666}
.main_table	td.head{filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F4F7F8', endColorStr='#E1EBF2', gradientType='0');color:#124F98;text-align:center;font-weight:bold}
.main_table	td.bottom{filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ECF0F4', endColorStr='#F7F9FA', gradientType='0');text-align:right}
.main_table	tr{background-color:expression((this.sectionRowIndex%2==0)?"#ECF0F4":"#F7F9FA");text-align:center;}
/*
.main_table	td{padding:2;border:1px solid #FFFFFF;height:24px;word-break: break-all; word-wrap:break-word;}
*/
.main_table	td{padding:2;border:1px solid #FFFFFF;height:24px; word-wrap:break-word; overflow:hidden;}
.main_table	td.width36{width:36px;}
.main_table	td.width230{width:230px;}
.main_table td.textright {text-align:right;}
.main_table td.textleft {text-align:left;}
.main_table td {text-align:left;}
.main_table tr.green{background-color:#EAF3E9}
.main_table tr.white{background-color:#FFFFFF}
.main_table tr.count{background-color:#e3ecfa}
.main_table tr.count_green{background-color:#EFFFE0}
.main_table tr.count_red{background-color:#FFECE9}

.main_table2 {width:100%;}
.main_table2 tr{background-color:expression((this.sectionRowIndex%2==0)?"#F7F9FA":"#ECF0F4");}
.main_table2 td{padding:4;height:24px;}
.main_table2 td.left_td{height:24px;padding-left:32px;padding-top:3px;color:#666;}
.main_table2 td.right_td{width:85PX;text-align:center;color:#298804;}

.main_search_tab {width:100%;margin-top:0px;margin-bottom:8px;color:#666;}
.main_search_tab td.condition {padding-left:50px;text-align:left;width:170px}
.main_search_tab td.condition2 {text-align:right;width:120px}
.main_search_tab td.condition3 {text-align:right;width:105px}
.main_search_tab td.condition4 {text-align:right}
.main_search_tab td.import {text-align:left;}
.main_search_tab td.import2 {width:260px}
.main_search_tab td.button {width:120px;}

.more {height:20px;padding-top:1px;BACKGROUND:url(/ueadmin_ue/images/more.gif) no-repeat left 3px;float:right;width:40px;cursor:hand;padding:0px;}
.common_table {width:100%;margin:0px 0px}
.common_table td.head {height:23px;border-bottom:1px solid #C5D9E8;padding:0px;}
.common_table #nav {width:260px;height:23px;padding-left:45px;padding-left:48px;padding-top:3px;BACKGROUND:url(/ueadmin_ue/images/main_bar_ico_add.gif) no-repeat 20px 3px;font-weight:bold;color:#124F98;float:left;border-bottom:2px solid #C5D9E8}
.common_table #more {height:20px;padding-top:1px;BACKGROUND:url(/ueadmin_ue/images/more.gif) no-repeat left 3px;float:right;width:70px;cursor:hand;padding:0px;}
.common_table #button2 {height:20px;padding-top:1px;float:right;width:122px;cursor:hand;padding:0px;}

.common_table #pre {height:20px;margin-left:6px;padding-left:20px;padding-top:3px;BACKGROUND:url(/ueadmin_ue/images/main_bar_ico_pre.gif) no-repeat left 1px;font-weight:bold;color:#000000;}
.common_table #stay {height:20px;margin-left:6px;padding-left:20px;padding-top:3px;BACKGROUND:url(/ueadmin_ue/images/main_bar_ico_stay.gif) no-repeat left 1px;font-weight:bold;color:#000000;}
.common_table td.main {BACKGROUND-color:#F7F9FA;padding:10 25 20 28}
.common_table td.main2 {BACKGROUND-color:#FFF;}
.common_table td.main_nobg {border-bottom:1px solid #849A7D;BACKGROUND-color:#F1FCEF;}
.common_table td.main_nobg2 {border-bottom:1px solid #849A7D;BACKGROUND-color:#F1FCEF;text-align:center;padding-bottom:6px}
.common_table td.main_nobg3 {border-bottom:1px solid #669966;BACKGROUND-color:#F1FCEF;text-align:center;padding-top:6px}
.common_table .terms {width:47%;display:inline;height:22px;vertical-align:bottom;margin:5px 0px 2px 20px;}
.common_table #act {width:100%;height:30px;margin:10px 40px 0px 0px;text-align:right;}
.common_table td.err {vertical-align:top;height:420px;BACKGROUND:url(/ueadmin_ue/images/main_bg_ico_err.gif) no-repeat left bottom;BACKGROUND-color:#F1FCEF;}
.common_table td.main_bg{height:25px;margin-left:45px;padding-left:60px;padding-top:3px;BACKGROUND:url(/ueadmin_ue/images/main_table_dot.gif) no-repeat 50px middle;}
.common_table td.main_bg_right{width:130px;color:#009900}

.common_table_bt {height:25px;font-weight:bold;color:#3366CC;}

.jdf_pageDiv {
	background-color: #F7F9FA;
	border-bottom: 0px solid #c7ced7;
	height: 25px;
	width: 100%;
	text-align: right
}

.jdf_pageTotal {
	float: left;
	height: 19px;
	margin: 5px;
}

.jdf_pageCurrent {
	float: left;
	height: 19px;
	margin: 5px;
}

.jdf_firstPage {
	float: left;
	width: 40px;
	height: 19px;
	margin: 5px;
	cursor: hand
}

.jdf_firstPage:hover {
	background-position: left bottom;
}

.jdf_pageForward {
	float: left;
	width: 40px;
	height: 19px;
	margin: 5px;
	cursor: hand
}

.jdf_pageForward:hover {
	background-position: left bottom;
}

.jdf_pageBack {
	float: left;
	width: 40px;
	height: 19px;
	margin: 5px;
	cursor: hand
}

.jdf_pageBack:hover {
	background-position: left bottom;
}

.jdf_endPage {
	float: left;
	width: 50px;
	height: 19px;
	margin: 5px;
	cursor: hand
}

.jdf_endPage:hover {
	background-position: left bottom;
}

.jdf_pageGo {
	width: 30px;
	height: 15px;
	font-size: 9pt;
	margin-top: -2px;
	font-family: Tahoma, ����;
	padding: -1px 1px 1px 1px;
	border: 1px solid #CCC;
	vertical-align: middle
}

.jdf_pageDisplay {
	height: 17px;
	width: 40px;
	font-size: 11px;
}

.jdf_floatRight {
	float: right
}
a.sel {font-family:����;display:block;float:left;width:60px;height:19px;margin:2px 2px 0px 2px;border:1px solid #f6f6f6;padding:0px;line-height:19px;text-align:left;color:black;text-decoration:none}
a.sel:hover {background:url(/ueadmin_ue/images/sel_bg.gif) repeat-x left top;border:1px solid #f2d8be}
a.sel div.del {background:url(/ueadmin_ue/images/toolbar/delete.gif) no-repeat left top;width:16px;height:16px;float:left;margin:2px 2px 0px 3px}
a.sel div.edit{background:url(/ueadmin_ue/images/toolbar/edit.gif) no-repeat left top;width:16px;height:16px;float:left;margin:2px 2px 0px 3px}
a.sel div.add {background:url(/ueadmin_ue/images/toolbar/add.gif) no-repeat left top;width:16px;height:16px;float:left;margin:2px 2px 0px 3px}
a.sel div.exl {background:url(/ueadmin_ue/images/ico/exl.gif) no-repeat left top;width:16px;height:16px;float:left;margin:2px 2px 0px 3px}

a.firstPageTopButton {padding:0px;color:#FFFFFF;text-decoration:none}

.wait {
	
	width: 160px;
	background:url(/ueadmin_ue/images/load_style1.gif) no-repeat left top;
	BACKGROUND-color:#F1FCEF;
	padding-left:20px;
	top:100px;
}